# Ignore everything by default
*

# Allow specific directories and files
!replication/
!replication/.gitignore
!replication/results

!notebooks/
!README.md

# Ensure Git tracks directory contents
!replication/**
!replication/results/**
!notebooks/**

